html{
	font:30px calibri,tahoma,sans-serif;
}
h1{
	margin:30px 0 50px;
}
h2{
	margin:-50px 0 50px;
	font-size:1em;
	color:#69c;
	font-weight:normal;
}
table{
	border-collapse:collapse;
	/*table-layout:fixed;
	width:800px;*/
}
td,th{
	padding:4px 0;
	border:1px solid #69c;
	text-align:center;
}
th{
	background:#ffc;
	font-weight:normal;
	font-size:12px;
	color:#468;
}
tbody th{
	width:30px;
}
tbody td{
	width:50px;
}